@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@300&family=Montserrat:wght@500&display=swap');

:root {
    --shrink-size: 1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Handjet', cursive;
    /*cursor: none;*/
    user-select: none;
}

::-webkit-scrollbar {
    display: none;
}

h1, h2, h3, h4, h5, h6, p, a, span {
    opacity: .85;
    user-select: none;
    color: white;
}

body {
    background: #000;
    height: 250vh;
}

#main-title {
    color: white;
    text-align: center;
    font-size: calc(13vw + 1.5rem);
    user-select: none;
    margin-top: 10vh;
    animation: fade-in 2.25s ease-in-out;
}

#options {
    display: flex;
    width: 100%;
    height: 30em;
}

.option {
    width: 50%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.option-title {
    font-size: calc(3.5vw + 1.25rem);
    opacity: .85;
}

.option-img {
    filter: invert(1);
    height: 100px;
    opacity: .85;
}

.option-description {
    font-size: calc(1.5vw + 1.15rem);
    opacity: .85;
    text-align: center;
    margin: .25rem 2vw 0 2vw;
}

#border {
    width: 1px;
    height: 100%;
    background: gray;
}

#cursor-trail {
    position: fixed;
    width: 1em;
    height: 1em;
    z-index: -1;
    border-radius: 50%;
    background: #f00;
    pointer-events: none;
    animation-fill-mode: forwards;
}

.sub-title {
    opacity: 0;
    animation: sub-fade-in 2.25s ease-in-out forwards;
    font-size: calc(2vw + 1rem);
    text-align: center;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1.25s;
}

.show {
    opacity: .85;
    filter: blur(0);
    transform: translateX(0);
    animation: show 1s forwards;
}

.option:nth-child(1) {
    transition-delay: 300ms;
}

#border {
    transition-delay: 600ms;
}

.banner {
    margin: 5vh auto;
    --angle: 0deg;
    width: 90vmax;
    height: 50vmin;
    border: 2vmin solid;
    border-image: conic-gradient(from var(--angle), red, yellow, lime, aqua, blue, magenta, red) 1;

    animation: 5s rotate linear infinite, 1s fade-in ease-in-out infinite alternate;

    align-items: center;
    justify-content: center;
    display: flex;
}

.banner-title {
    font-size: calc(3.5vw + 2.25rem);
    opacity: .85;
    text-align: center;
    margin: .25rem 2vw 0 2vw;
}

#nav-container {
    height: 19vh;
    transform: translateY(-110%);
    transition: .5s ease-in-out;
    width: 100%;
    z-index: -2;
    position: fixed;
}

#nav-container:hover {
    transform: translateY(-50%);
}

#navigation {
    top: 0;
    width: 100%;
    height: 50%;
    --angle: 0deg;
    border-bottom: 1vmin solid;
    border-image: conic-gradient(from var(--angle), red, yellow, lime, aqua, blue, magenta, red) 1;
    animation: 5s rotate linear infinite;
    opacity: 1;
    z-index: -2;
    background: black;
    display: flex;
}

.nav-item {
    font-size: calc(1.25vw + 1.5rem);
    opacity: .85;
    display: flex;
    align-items: center;
    margin-top: 0;
    line-height: 90%;
}

.nav-img {
    height: 50%;
    width: auto;
}

#login {
    margin: 0 1em 0 auto;
    z-index: 34;
}

.nav-contain {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1em 0 auto;
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: .85;
    }
}

@keyframes grow {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(3);
    }
}

@keyframes shrink {
    0% {
        transform: scale(var(--shrink-size));
    }
    100% {
        transform: scale(.75);
    }
}

@keyframes sub-fade-in {
    50% {
        opacity: 0;
    }
    100% {
        opacity: .85;
    }
}

@keyframes show {
    from {
        opacity: 0;
        filter: blur(5px);
        transform: translateX(-100%);
    }
    to {
        opacity: .85;
        filter: blur(0);
        transform: translateX(0);
    }
}

@keyframes rotate {
    to {
        --angle: 360deg;
    }
}

@keyframes slide-in {
    0% {
        transform: translateY(-100%);
        z-index: 1;
    }
    100% {
        transform: translateY(0);
    }
}

@property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}